:root {
  --logo-font: 'Raleway', sans-serif;
  --primary-font: 'Roboto', sans-serif;
  --brand-color: #2196f3;
  --logo-secondary-color: #000000;
  --text-color: #757575;
  --text-secondary-color: #ffffff;
  --mdl-btn-hover-bckgrnd: #188ce8;
  --title-color: #212121;
  --hero-background: rgba(47, 48, 58, 0.4);
  --footer-background: #2f303a;
  --secondary-background: #f5f4fa;
  --address-secondary-color: rgba(255, 255, 255, 0.6);
  --header-border: #ececec;
  --project-border: #eeeeee;
  --icon-color: #afb1b8;
  --icon-footer-bg: rgba(255, 255, 255, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* For Hidden Section Title */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ========= COMPONENTS ======================================*/
.logo-link {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.logo-link-part-header {
  color: var(--logo-secondary-color);
}

.logo-link-part-footer {
  color: var(--text-secondary-color);
}

.title {
  color: var(--title-color);
  font-size: inherit;
  line-height: 1.14;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* ========= END COMPONENTS =================================*/

/* ========= HEADER =========================================*/
.header {
  padding: 24px 0;
  background-color: var(--text-secondary-color);
  border-bottom: 1px solid var(--header-border);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header .logo-link {
  margin-right: 94px;
}
.nav-menu-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-contacts .header-link {
  display: flex;
  align-items: center;
}

.mail-link,
.tel-link {
  color: var(--text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--brand-color);
}

.current {
  color: var(--brand-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ========= END HEADER ======================================*/

/* ========= HERO ============================================*/
.hero {
  background-color: var(--hero-background);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  padding: 200px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-secondary-color);
  max-width: 696px;
  margin-bottom: 30px;
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-secondary-color);
  background-color: var(--brand-color);
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--mdl-btn-hover-bckgrnd);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ========= END HERO ====================================*/

/* ========= FEATURES ===================================*/
.features-list {
  display: flex;
  align-items: center;
}

.features-list-item {
  width: 270px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon-block {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 270px; */
  height: 120px;
  background-color: var(--secondary-background);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list-item-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list-item-desc {
  line-height: 1.7;
}

/* ========= END FEATURES =================================*/

/* ========= WHAT WE DO ===================================*/
.what-we-do {
  padding-top: 0;
}

.what-we-do-img-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.what-we-do-img-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

/* ========= END WHAT WE DO =================================*/

/* ========= OUR TEAM ========================================*/
.team {
  background-color: var(--secondary-background);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-container {
  background-color: var(--text-secondary-color);
  border-radius: 0px 0px 4px 4px;
  padding: 30px 32px;
  text-align: center;
}

.team-list {
  font-size: 16px;
  line-height: 1.19;
}

.team-member {
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  margin-bottom: 10px;
}

.position {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
}

.social-icon {
  fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--brand-color);
  color: var(--text-secondary-color);
}

/* ========= END OUR TEAM ===================================*/

/* ========= REGULAR CUSTOMERS ===============================*/

.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-top: -30px;
}

.customer-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 180px) / 6);
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.customer-icon {
  fill: currentColor;
}

.customer-link:hover,
.customer-link:focus {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

/* ========= END REGULAR CUSTOMERS ============================*/

/* ========= FOOTER =========================================*/
.footer {
  padding: 60px 0;
  background-color: var(--footer-background);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.address-block {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.address {
  font-style: normal;
}

.footer .logo-link {
  margin-bottom: 20px;
}

.contact-list {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.contact-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.contact-list-link {
  color: var(--text-secondary-color);
}

.footer-mail,
.footer-tel {
  color: var(--address-secondary-color);
}

.contact-list-link:hover,
.contact-list-link:focus {
  color: var(--brand-color);
}

.footer-social-title {
  margin-bottom: 20px;
  color: var(--text-secondary-color);
}

.footer-social-list {
  display: flex;
  align-items: center;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--text-secondary-color);
  background-color: var(--icon-footer-bg);
}

.social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--brand-color);
}

/* ========= END FOOTER =====================================*/

/* ========= PORTFOLIO =======================================*/
.portfolio {
  font-size: 16px;
  line-height: 1.88;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: 1.6;
  letter-spacing: inherit;
  text-align: center;
  color: var(--title-color);
  background-color: var(--secondary-background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
}

.filter-button:active,
.filter-button:hover,
.filter-button:focus {
  color: var(--text-secondary-color);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project-list-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.project-list-link {
  display: block;
  color: inherit;
}

.project-list-link:hover,
.project-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-info-container {
  padding: 20px 24px;
  border: 1px solid var(--project-border);
  border-top: none;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

/* ========= END PORTFOLIO ==================================*/
